.filterTag {
    button {
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        background: $white-2;

        @include mediaQ(sm){
            font-size: 20px;
            padding: 5px 10px;
            overflow: hidden;
        }

        &:hover {
            background: $black;
            color: $white;
        }
    }
}
