.hero {
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1067px;

    @include mediaQ(sm){
        margin-top: 0px;
        flex-direction: column;
        min-width: auto;
        margin-top: 0;
        padding: 0 30px;
    }

    @include mediaQ(lg){
        min-width: none;
    }


    .heroImgDiv {
        position: relative;
        width: 535px;
        height: 670px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mediaQ(sm){
            height: auto;
            padding: 40px 40px;
        }
        @include mediaQ(lg){
            width: auto;
        }

        .portrait {
            width: 360px;
            height: 500px;
            z-index: 2;

            @include mediaQ(lg){
                width: 270px;
                height: 400px;
            }
        }

        .dotPattern {
            width: 175px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.25;
            z-index: 1;

            @include mediaQ(sm){
                display: none;
            }
            @include mediaQ(lg){
                width: 100px;
                top: 90px;
                left: -40px;
            }

        }

        .dotPattern2 {
            width: 175px;
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0.25;
            z-index: 1;
            @include mediaQ(sm){
                display: none;
            }
            @include mediaQ(lg){
                width: 100px;
                bottom: 90px;
                right: -40px;
            }
        }
    }

    .heroTextDiv {
        width: 560px;
        margin-bottom: 10%;
        margin-left: -40px;
        gap: 20px;
        
        @include mediaQ(sm){
            width: auto; 
        }
        @include mediaQ(lg){
            margin-left: 3%;
            margin-bottom: 0%;
        }

        .heroTitle {
            font-size: 40px;
            font-weight: bold;
            margin: 0;
            @include mediaQ(sm){
                font-size: 1.6em;
            }
            span{
                color: $white;
                background: $black;
                @include mediaQ(sm){
                    font-size: 0.9em;
                }
            }
        }

        .heroDescription {
            margin: 20px 0 20px 0;
            width: 95%;
            @include mediaQ(sm){
                margin-top: 20px;
            }
        }

        .heroButtons {
            display: flex;
            gap: 40px;

            button {
                padding: 15px 30px 15px 30px;
                font-family: 'Inter', sans-serif;
                border-radius: 5px;
                border: 1px solid $black;
                font-size: 16px;
                cursor: pointer;

                @include mediaQ(sm){
                    margin: 60px auto;
                    padding: 20px;
                }

                a{
                    text-decoration: none;
                    &:visited{
                        color: inherit
                    }
                }

                &:nth-child(1) {
                    background: $black;
                    color: $white;
                    @include mediaQ(sm){
                        width: 60%;
                    }
                }

                &:nth-child(2) {
                    background: transparent;
                    border: 1px solid $black;
                    @include mediaQ(sm){
                        display: none;
                    }
                }
            }
        }
    }
}