.workDiv {
    display: flex;
    flex-direction: column;
    margin-top: 165px;
    margin-bottom: 165px;
    justify-content: center;

    @include mediaQ(sm){
        margin: 60px auto;
        padding: 40px;
    }


    .workTitle {
        text-align: center;

        h2 {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 25px;
        }
    }
    .filterTagsDiv{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 15px;

        @include mediaQ(sm){
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

    }

    .workGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        padding-top: 35px;
        margin: 0 auto;
        gap: 50px;
        justify-content: center;
        max-width: 1100px;

        @include mediaQ(sm){
            grid-template-columns: 1fr;
            grid-template-columns: auto;
            gap: 100px;
            margin-top: 40px;
        }
      }

      

}