@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&family=Roboto+Slab:wght@400;700&display=swap');

$white : #fdfdfd ;
$white-2: #f0f0f0;
$black: #252525;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background: $white;
}

 
$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 1024px
);

@mixin mediaQ($breakpoint){
  @media screen and (max-width: map-get($breakpoints, $breakpoint)){
    @content;
  }
}
@mixin maxScreenDisplay($breakpoint){
  @media screen and (min-width: map-get($breakpoints, $breakpoint)){
    @content;
  }
}

//Components
@import './components/navbar';
@import './components/hero';
@import './components/work';
@import './components/filterTags';
@import './components/workCard';
@import './components/workTag';
@import './components/goTop';
@import './components/contact';
@import './components/contactInfo';
@import './components/resumee';
@import './animations';