@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&family=Roboto+Slab:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.navbar{
  height: 100px;
  background: #FAFAFA;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.navLinks ul{
  list-style-type: none;
  display: flex;
  gap: 30px;
} 
.navLinks ul li:hover{
  border-bottom: 2px solid black;
  padding-top: -2px;
  cursor: pointer
}
.navLang button{
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.logo{
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}
.main-container{
 margin-left: 175px; 
 margin-right: 175px; 
}

.textDetail{
  color:white;
  background: #000;
}

.hero{
  margin-top: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1067px;
}

.heroImgDiv{
  position: relative;
  width: 535px;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait{
  width: 360px;
  height: 500px;
  z-index: 2;
}

.dotPattern{
  width: 175px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  z-index: 1;
}
.dotPattern2{
  width: 175px;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.25;
  z-index: 1;
}
.heroTextDiv{
  width: 560px;
  margin-bottom: 10%;
  margin-left: -40px;
  gap: 20px;
}
.heroTitle{
  font-size: 40px; 
  font-weight: bold;
  margin: 0;
}

.heroDescription{
  margin: 20px 0 20px 0;
}
.heroButtons{
  display: flex;
  gap: 40px;
}

.heroButtons button{
  padding: 15px 30px 15px 30px;
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.heroButtons button:nth-child(1){
  background: black;
  color: white;
}
.heroButtons button:nth-child(2){
  background: transparent;
  border: 1px solid black;
}




.workDiv{
  display: flex; 
  flex-direction: column;
  margin-top: 165px;
  justify-content: center;
}
.workTitle{

  text-align: center;
}
.workTitle h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

.filterTagsDiv{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
}
.filterTag button{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.filterTag button:hover{
  background: black;
  color: white;
}

.workCard{
  width: 350px;
}

.workCard img{
  width: auto;
  height: 250px;
  border-radius: 20px;
  filter: grayscale();
}
.workCard:hover img{
  filter:saturate()
}
.workCard h4{
  font-size: 20px;
  margin: 10px 0px;
}

.workGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-top: 35px;
  margin: 0 auto;
  gap: 50px;
  justify-content: center;

  max-width: 1100px;
}
.workTagsDiv{
  display: flex;
  gap: 10px;
}
.workTag button{
  border-radius: 25px;
  border: none;
  font-size: 14px;
  padding: 6px 15px;
}

.workButtons{
  display: flex;
  gap: 20px;
}
.workButtons button{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: transparent;
}


.cardDescription{
  min-height: 60px;

}


.workButtons button:nth-child(1){
  color: white;
  background: #000;
  font-family: 'Inter', sans-serif;
}

.active {
  background: pink;
}